<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget Bros</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script defer type="text/javascript" src="js/main.js"></script>
</head>
<body class="body">

  <nav class="navbar">
    <div class="navbar-left">
      <img class="navbar-logo" src="assets/pig.png"/>
      <span class="navbar-slogan">Budget Bros</span>
    </div>
    <div class="navbar-right">
      <span class="navbar-name">Hello, Bitzer</span>
      <span class="navbar-logout">Logout</span>
    </div>
  </nav>

  <aside>

  </aside>

  <div class="inner-body">
  </div>

</body>
</html>