<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget Bros</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script defer src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script defer type="text/javascript" src="js/main.js"></script>
</head>
<body class="body">

  <nav class="navbar">
    <div class="navbar-left">
      <img class="navbar-burger" src="assets/menu.png" id="menu-burger"/>
      <div class="navbar-logo-container">
        <img class="navbar-logo" src="assets/pig.png"/>
        <span class="navbar-slogan">Budget Bros</span>
      </div>
    </div>
    <div class="navbar-right">
      <span class="navbar-name">Hello, User</span>
      <span class="navbar-logout" id="btnLogout" ><a href="/signout">Logout</a></span>
    </div>
  </nav>

  <aside class="sidebar" id="sidebar">
    <div class="sidebar-overflow">
      <div class="sidebar-logo-container">
        <img class="sidebar-logo" src="assets/pig-white.png"/>
        <span class="sidebar-slogan">Budget Bros</span>
      </div>
      <div class="sidebar-spacer"></div>
      <div class="sidebar-interface-heading"><p>Menu</p></div>
      <div class="sidebar-spacer"></div>
      <div class="sidebar-button-container" id="sidebar-dashboard">
        <div class="sidebar-button-left-container">
          <img class="sidebar-button-icon" src="assets/dashboard.png"/>
          <p class="sidebar-button-heading">Dashboard</p>
        </div>
        <img class="sidebar-button-chev" src="assets/chevron-right.png"/>
      </div>
      <div class="sidebar-button-container" id="sidebar-add-budget">
        <div class="sidebar-button-left-container">
          <img class="sidebar-button-icon" src="assets/plus.png"/>
          <p class="sidebar-button-heading">Add Budget</p>
        </div>
        <img class="sidebar-button-chev" src="assets/chevron-right.png"/>
      </div>
      <!-- <div class="sidebar-button-container" id="sidebar-add-expenses">
        <div class="sidebar-button-left-container">
          <img class="sidebar-button-icon" src="assets/plus.png"/>
          <p class="sidebar-button-heading">Add Expenses</p>
        </div>
        <img class="sidebar-button-chev" src="assets/chevron-right.png"/>
      </div> -->
      <div class="sidebar-spacer"></div>
      <div class="sidebar-close-button-container" id="sidebar-close-button">
        <img class="sidebar-close-button" src="assets/chevron-left.png"/>
      </div>
    </div>
  </aside>

  <div class="inner-body">
    <div class="inner-inner-body">

      <div class="spinner-container hidden" id="page-spinner">
        <div class="spinner"></div>
      </div>

      <div class="page-body hidden" id="page-add-budget">
        <form class="form" id="add-budget-form">
          <p class="form-main-heading">Create a budget</p>
          <p class="form-heading">Add income</p>
          <div class="form-wrap-container">
            <div class="form-input-block form-input-block-left">
              <label class="form-input-heading" for="add-budget-input-salary">Salary</label>
              <input
                class="form-input add-budget-form-input"
                placeholder="Salary"
                type="number"
                step="0.01"
                id="add-budget-input-salary"
                min="1"
                max="1000000000"
                required>
            </div>
            <div class="form-input-block form-input-block-right">
              <label class="form-input-heading" for="add-budget-input-other-inc">Other</label>
              <input
                class="form-input add-budget-form-input"
                placeholder="Other"
                type="number"
                step="0.01"
                id="add-budget-input-otherInc"
                min="0"
                max="1000000000"
                required>
            </div>
          </div>
          <p class="form-heading">Category budgets</p>
          <div class="form-wrap-container">
            <div class="form-input-block form-input-block-left">
              <label class="form-input-heading" for="add-budget-input-personal">Personal</label>
              <input
              class="form-input add-budget-form-input"
              placeholder="Personal"
              type="number"
              step="0.01"
              id="add-budget-input-budgetPersonalAmount"
              min="0"
              max="1000000000"
              required>
            </div>
            <div class="form-input-block form-input-block-right">
              <label class="form-input-heading" for="add-budget-input-household">Household</label>
              <input
                class="form-input add-budget-form-input"
                placeholder="Household"
                type="number"
                step="0.01"
                id="add-budget-input-budgetHouseholdAmount"
                min="0"
                max="1000000000"
                required>
            </div>
          </div>
          <div class="form-wrap-container">
            <div class="form-input-block form-input-block-left">
              <label class="form-input-heading" for="add-budget-input-debt">Debt</label>
              <input
                class="form-input add-budget-form-input"
                placeholder="Debt"
                type="number"
                step="0.01"
                id="add-budget-input-budgetDeptAmount"
                min="0"
                max="1000000000"
                required>
            </div>
            <div class="form-input-block form-input-block-right">
              <label class="form-input-heading" for="add-budget-input-other-exp">Other</label>
              <input
                class="form-input add-budget-form-input"
                placeholder="Other"
                type="number"
                step="0.01"
                id="add-budget-input-budgetOtherAmount"
                min="0"
                max="1000000000"
                required>
            </div>
          </div>
          <!-- <div class="form-wrap-container">
            <div class="form-input-block form-input-block-left">
              <label class="form-input-heading" for="add-budget-input-savings">Savings</label>
              <input
                class="form-input add-budget-form-input"
                placeholder="Savings"
                type="number"
                step="0.01"
                id="add-budget-input-savings"
                min="0"
                max="1000000000"
                required>
            </div>
            <div class="form-input-block form-input-block-right">
              <label class="form-input-heading" for="add-budget-input-wants">Wants</label>
              <input
                class="form-input add-budget-form-input"
                placeholder="Wants"
                type="number"
                step="0.01"
                id="add-budget-input-wants"
                min="0"
                max="1000000000"
                required>
            </div>
          </div> -->
          <p class="form-heading">Choose a goal (Needs / Wants / Savings)</p>
          <div class="add-budget-form-radio-flex-container">
            <div class="add-budget-form-radio-container">
              <input class="add-budget-form-input-radio" type="radio" id="add-budget-input-radio-1" name="goal" value="1" checked="checked">
              <label class="add-budget-form-input-heading-radio" for="add-budget-input-radio-1">50 / 30 / 20</label>
            </div>
            <div class="add-budget-form-radio-container">
              <input class="add-budget-form-input-radio" type="radio" id="add-budget-input-radio-2" name="goal" value="2">
              <label class="add-budget-form-input-heading-radio" for="add-budget-input-radio-2">40 / 40 / 20</label>
            </div>
            <div class="add-budget-form-radio-container">
              <input class="add-budget-form-input-radio" type="radio" id="add-budget-input-radio-3" name="goal" value="3">
              <label class="add-budget-form-input-heading-radio" for="add-budget-input-radio-3">40 / 30 / 30</label>
            </div>
          </div>
          <div class="form-spacer"></div>
          <div class="form-button-container">
            <button class="form-button" type="submit">Create budget</button>
          </div>
        </form>
      </div>

      <!-- <div class="page-body hidden" id="page-add-expenses">
      </div> -->

      <div class="page-body hidden" id="page-dashboard">
        <div class="card-container">
          <div class="card card-left">
            <p class="card-heading">Total expenses</p>
            <canvas class="chart" id="chart-1"></canvas>
          </div>
          <div class="card card-right">
            <p class="card-heading">Budgeted income left</p>
            <canvas class="chart" id="chart-2"></canvas>
          </div>
        </div>
        <div class="card-container">
          <form class="card" id="add-expenses-form">
            <p class="form-main-heading">Add expenses</p>
            <div class="form-wrap-container">
              <div class="form-input-block">
                <label class="form-input-heading" for="add-expense-name">Expense name</label>
                <input
                  class="form-input add-expense-form-input"
                  placeholder="Expense name"
                  type="text"
                  id="add-expense-name"
                  pattern="^[\w ]+$"
                  title="No special characters"
                  required>
              </div>
            </div>
            <div class="form-wrap-container">
              <div class="form-input-block form-input-block-left">
                <label class="form-input-heading" for="add-expense-type">Type</label>
                <select
                  class="form-input add-expense-form-input"
                  id="add-expense-type"
                  required>
                    <option>Personal</option>
                    <option>Household</option>
                    <option>Debt</option>
                    <option>Other</option>
                </select>
              </div>
              <div class="form-input-block form-input-block-right">
                <label class="form-input-heading" for="add-expense-value">Value</label>
                <input
                  class="form-input add-expense-form-input"
                  placeholder="Value"
                  type="number"
                  step="0.01"
                  id="add-expense-value"
                  min="1"
                  max="1000000000"
                  required>
              </div>
            </div>
            <div class="form-spacer"></div>
            <div class="form-button-container">
              <button class="form-button" type="submit">Add expense</button>
            </div>
          </form>
        </div>
        <div class="card-container">
          <div class="card">
            <p class="card-heading" id="expense-table-heading">No detailed expenses</p>
            <table class="hidden" id="expense-table">
              <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Value</th>
                <th>Delete</th>
              </thead>
              <tbody id="table-body">
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>
</html>
